html {
  background-color: #eee;
  padding: 0.5em 1em;
  background-image: url("https://images.unsplash.com/photo-1520854603336-2fca225bac7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  background-color: rgb(13, 80, 134);
  color: lightblue;
  display: block;
}

.hh1 {
  text-align: center;
}

.btn btn-primary {
  justify-content: center;
}
body {
  opacity: 0.8;
  box-shadow: 15px 15px 15px 15px black;
}
p {
  background-color: rgb(13, 80, 134);
  color: lightblue;
}
.container {
  color: aliceblue;
  background-color: rgb(13, 80, 134);
}
.navbar {
  opacity: 1 !important;
  background-color: rgb(13, 80, 134) !important;
}
.card {
  color: darkblue;
  background-color: cornflowerblue;
  box-shadow: 8px 8px 8px 8px rgb(0, 2, 102);
}
.modal {
  color: darkblue;
  box-shadow: 2px 2px inset black;
}
.modal-title {
  text-decoration: underline;
}
